{% extends 'layout.html' %}
<head>
    <title>{{ title }}</title>
	{% block css %}
		<style type="text/css">
			#li_nav_us>a>span{
				color:red;
			}
		</style>
	{% endblock %}
</head>

{% block content %}
	<div style="text-align: center; ">
		<div id="" style="background-color: #666666;">
			<img width="1280px" height="480px" src="../static/img/1.jpg" >
		</div>
	
	<p style="font-size: 30px;margin-top: 15px;">瑞&nbsp;灵&nbsp;乐&nbsp;器</p>
	<p style="font-size: 15px;margin-top: 0px;">RUILING MUSIC</p>
	<p style="width: 1024px;font-size: 14px;display: inline-block;margin-top: 20px;">
		文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。
		文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。
		文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。
		文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。
		文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。文字描述，文字描述。文字描述。
	</p>
	<p style="font-size: 30px;margin-top: 15px;">关于品牌</p>
	<a href=""><img style="padding: 10px;" width="250px" height="250px" src="../static/img/1.jpg" ></a>
	<a href=""><img style="padding: 10px;" width="250px" height="250px" src="../static/img/2.jpg" ></a>
	<a href=""><img style="padding: 10px;" width="250px" height="250px" src="../static/img/3.jpg" ></a>
	</div>
{% endblock %}

	
	