{% extends 'layout.html' %}
<head>
    <title>{{ title }}</title>
	{% block css %}
		<link type="text/css" rel="stylesheet" href="../static/css/ContactUs.css">
		<style type="text/css">
			#li_nav04>a>span{
				color:red;
			}
		</style>
	{% endblock %}
</head>

{% block content %}
	<img width="100%" height="480px" src="../static/img/102.jpg" >
	<p style="font-size: 22px;margin-top:15px;margin-left:15px;">上海瑞灵乐器有限公司</p>
	<p style="margin-top:15px;margin-left:15px;">地&nbsp;&nbsp;&nbsp;&nbsp;址：上海市奉贤区大叶公路8188号8幢</p>
	<p style="margin-top:15px;margin-left:15px;">网&nbsp;&nbsp;&nbsp;&nbsp;址：www.ruilingmuk.com</p>
	<p style="margin-top:15px;margin-left:15px;">E-mail：ruilingmuk@163.com</p>
	<p style="margin-top:15px;margin-left:15px;">&nbsp;T&nbsp;&nbsp;e&nbsp;&nbsp;l：+86-021-51112111</p>
	<p style="margin-top:15px;margin-left:15px;">宋承骏：13951736532</p>
	<p style="margin-top:15px;margin-left:15px;">林&nbsp;&nbsp;&nbsp;&nbsp;琪：18201770277</p>
	<img width="100%" height="480px" src="../static/img/1.jpg" >
{% endblock %}

	
	